.card-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 25vw;
    height: 30vh;
    background-color: lightslategray;
    margin: 10px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.ron-says{
    width: 100%;
    font-size: 3rem;
    background-color: grey;
    border-radius: 10px 10px 0 0;
}

.quote{
    margin-bottom: 10vh;
    font-size: 1.5rem;
}