.App {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 30vw;
  height: 10vh;
  color: blue;
}